# Datasets originales
Datasets
Datasets/*
data-prep/*

# Archivos descargados a lo largo de la recolecta de datos online (pendiente de reasignar rutas)
data-prep/output/cds_downloads/*
data-prep/01_datos_locales (1).ipynb

# Otros archivos generados al acceder a los datasets (los lock)
.~lock.*

# Imágenes que será de utilidad para la documetnación
media/* 

RESULTADO DE REFERENCIA

# Environment & secrets 
.env
.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.tox/
.venv/
venv/
env/
pip-wheel-metadata/


# Database files
*.db
*.sqlite
*.sqlite3
*.rdb

# IDEs & editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store


# Docker
docker-compose.override.yml

# Logs & coverage
*.log
.coverage
htmlcov/
